
/* $c1:#1E3EB9;
$c2:#185FD8;
$c3:#1271EB;
$c4:#0083FF;
$c5:#0092FF;
$c6:#2BA3FF;
$c7:#58B3FF;
$c8:#8CC9FF;
$c9:#BADDFF;
$c10:#E2F2FF;
$c11:#3765f6;//通用链接色

$c12:#000000;//文字基色
$c13:#313131;//主要文字 85%
$c14:#595959;//65% 次要文字（出现率很低） 遮罩:rgba($c2,.65)
$c15:#8C8C8C;//45% 辅助文字
$c16:#BFBFBF;//25% 失效文字、引导性文字  次级按钮边框
$c17:#D9D9D9;//15% 控件边框
$c18:#E8E8E8;//9% 表格深色线、分割线
$c19:#F5F5F5;//4% 背景、禁用、表头 表格浅色线
$c20:#FAFAFA;//2%
$c21:#FFFFFF;//0%

$c22:#E1251B;//失败、报错
$c23:#FAA21E;//警示、提醒
$c24:#55B837;//成功

$c0:$c4;//链接hover? 品牌色

*/

$c3:#185FD8;
$c4:#0083FF;
$c5:#2BA3FF;
$c10:#E2F2FF;
$c11:#3765f6;//通用链接色

//  $c12:#000000;//文字基色
//  $c13:#313131;//主要文字 85%
//  $c14:#595959;//65% 次要文字（出现率很低） 遮罩:rgba($c12,.65)
//  $c15:#8C8C8C;//45% 辅助文字
//  $c16:#BFBFBF;//25% 失效文字、引导性文字  次级按钮边框
//  $c17:#D9D9D9;//15% 控件边框
//  $c18:#E8E8E8;//9% 表格深色线、分割线 深色背景下85%
//  $c19:#F5F5F5;//4% 背景、禁用、表头 表格浅色线
//  $c20:#FAFAFA;//2%
//  $c21:#FFFFFF;//0%

$c22:#E1251B;//失败、报错
$c23:#FAA21E;//警示、提醒
$c24:#55B837;//成功

 //$c0:$c4;//链接hover? 品牌色


/*  $c25:#c9c9c9;
 $c26:#a6a6a6;
 $c27:#7f7f7f;
 $c28:#696969;
 $c29:#5a5a5a;
 $c30:#4d4d4d; */

$c12:#000000;//文字基色
$c13:#434343;//主要文字 85%
$c14:#7c7c7c;//65% 次要文字（出现率很低） 遮罩:rgba($c12,.65)
$c15:#aaaaaa;//45% 辅助文字
$c16:#d2d2d2;//25% 失效文字、引导性文字  次级按钮边框
$c17:#e5e5e5;//15% 控件边框
$c18:#E8E8E8;//9% 表格深色线、分割线 深色背景下85%
$c19:#f8f8f8;//4% 背景、禁用、表头 表格浅色线
$c20:#fcfcfc;//2%


$c21:#FFFFFF;//0%
$c25:#e8e8e8;
$c26:#c9c9c9;
$c27:#a6a6a6;
$c28:#7f7f7f;
$c29:#696969;
$c30:#5a5a5a;
$c31:#4d4d4d;
